@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111C2D;
}

@theme inline {
  --font-manrope: var(--font-manrope-base), sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope-base);
  --font-mono: var(--font-jetbrains-base);
  --font-jetbrains: var(--font-jetbrains-base), monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

/* Animações do modal */
@keyframes modalFade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes modalZoom {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
